body {
  display: grid;

  grid: repeat(12, 1fr) / repeat(12, 1fr);
  margin: 0px;
  /* min-height: 100vh; */
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.8em;
}

.announcecard h3 {
  font-size: 0.8em;
  margin-bottom: 8px;
}

.trendingcard h3 {
  font-size: 0.8em;
  margin-bottom: 4px;
}

h4 {
  font-size: 0.6em;
}

p {
  margin-top: 0px;
  font-size: 0.8em;
  color: rgb(150, 150, 150);
}

.sidebar {
  display: grid;
  min-width: 160px;
  align-content: start;
  gap: 15px;
  padding: 15px;
  grid-area: 1 / 1 / 13 / 2;
  background-color: #14b8a6;
  color: white;
  z-index: 2;
  box-shadow: 0px 0px 3px 1px rgb(150, 150, 150);
}

.sidebar-title {
  display: grid;
  grid: 1fr / 45px 1fr;
  align-items: center;
  margin: 0px;
}

.header {
  display: grid;
  min-height: 120px;
  grid-area: 1 / 2 / 3 / 13;
  grid: 1fr 2fr / 2fr 1fr;
  padding: 20px 40px 20px 40px;
  z-index: 1;
  box-shadow: 0px 0px 3px 1px rgb(150, 150, 150);
}

.search-field {
  display: flex;
  grid: 1fr / 1fr 10fr;
  align-items: center;
  padding-right: 50px;
}

input[type="text"] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  flex: 1 1 auto;
  color: rgb(150, 150, 150);
  padding-left: 10px;
  max-width: 600px;
  height: 20px;
  background-color: #ccfbf1;
  border-style: hidden;
  border-radius: 10px;
}
input:focus {
  border: 1px solid rgb(225, 225, 225);
}

.notifications {
  grid: 1fr / 1fr 3fr 5fr;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.profile {
  display: flex;
  padding-right: 50px;
  padding-left: 10px;
}

.profile-content {
  display: flex;
  flex: 1;
  gap: 15px;
  align-items: center;
}

.header-profile-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.inner-profile-text {
  margin: 0px;
}

.actions {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.actions > div {
  display: flex;
  background-color: #14b8a6;
  color: white;
  height: 30px;
  border-radius: 15px;
  font-size: 0.7em;
  justify-content: center;
  align-items: center;
}

.mainpage {
  display: grid;
  grid-area: 3 / 2 / 13 / 13;
  grid: repeat(8, 1fr) / repeat(7, 1fr);
  background-color: #ccfbf1;
  padding: 30px;
  gap: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  grid-area: 1 / 1 / 9 / 6;
  /* grid: repeat(2, 1fr) / repeat(3, 1fr); */
}

.cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 100%;
}

.announcements {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 6 / 9 / 8;
}

.plaincard {
  display: grid;
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  min-height: 200px;
  box-shadow: 0px 0px 4px 1px rgb(150, 150, 150);
}

.projectcard {
  display: grid;
  grid: 1fr 3fr 1fr / 1fr;
  padding-left: 20px;
  padding-right: 15px;
  background-image: linear-gradient(to right, #facc15 10px, rgba(0, 0, 0, 0) 8px);
  /* background: linear-gradient(to right, #facc15, #FFFFFF 5%); */
}

.projectcardheader {
  align-self: end;
  margin: 2px;
}
.projectcardtext {
  align-self: start;
  margin: 2px;
}
.projectcardicons {
  justify-self: end;
}

.announcecard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

hr.solid {
  border-top: 1px solid #rgb(220, 220, 220);
  width: 100%;
}

.trendingcard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
}

.trendingheader {
  padding-top: 20px;
}

.trendingprofile {
  display: flex;
  align-items: center;
}

.whiteicons {
  justify-self: end;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(103%) contrast(103%);
  width: 1.5em;
  height: 1.5em;
  padding: 10px;
}

.coloricons {
  justify-self: end;
  /* Grey Icon Filter converter below */
  /* filter: invert(90%) sepia(0%) saturate(100%) hue-rotate(360deg) brightness(100%) contrast(100%); */
  width: 1.25em;
  padding: 10px;
}

.profileimagesmall {
  width: 3em;
  height: 3em;
  margin-right: 10px;
}
