body {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  outline: red solid 1px;
  padding: 0px;
  border: 0px;
}

.sidebar {
  background-color: blue;
  grid-area: 1 / 1 / 7 / 2;
  outline: red solid 1px;
  color: red;
}

/* .header {
  font-size: 50px;
  background-color: blue;
  grid-area: 1 / 1 / 3 / 2;
  outline: red solid 1px;
  color: red;
}
 */
